:root {
  --primary-pale-blue: hsl(225, 100%, 94%);
  --primary-bright-blue: hsl(245, 75%, 52%);
  --neutral-very-pale-blue: hsl(225, 100%, 98%);
  --neutral-desaturated-blue: hsl(224, 23%, 55%);
  --neutral-dark-blue: hsl(223, 47%, 23%);
  --pale-purple: hsl(246, 61%, 69%);
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
}

h1 {
  color: var(--neutral-dark-blue);
}

h2 {
  margin-top: 0.2em;
  font-size: 1em;
  color: var(--neutral-dark-blue);
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-pale-blue);
  background-image: url('./images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-size: auto;
}

.card {
  background-color: var(--white);
  border-radius: 25px;
  width: 100vw;
  max-width: 23em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card__hero {
  max-width: 100%;
}

.card__hero--img {
  width: 100%;
}

.card__inner {
  display: flex;
  flex-direction: column;
  margin: 1.2em 2.5em 2em 2.5em /*20px 50px 40px 50px*/;
}

.inner_info {
  text-align: center;
}

.spacer {
  margin-bottom: 1.5em;
}

.desc {
  padding: 1.2em 0.7em 1.2em 0.7em;
  color: var(--neutral-desaturated-blue);
}

.inner__sub {
  display: flex;
  flex-direction: row;
  background-color: var(--neutral-very-pale-blue);
  padding: 1em;
  border-radius: 9px;
  justify-content: space-around;
}

.inner__sub--icon {
  flex: 1;
  display: flex;
  align-items: center;
}

.inner__sub--info {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price {
  color: var(--neutral-desaturated-blue);
}

.sub {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 9px;
  color: var(--white);
  background-color: var(--primary-bright-blue);
  font-family: 'Red Hat Display', sans-serif;
  font-size: 15px;
  font-weight: 600;
  box-shadow: 0px 17px 15px 5px rgba(0, 0, 255, 0.1);
}

.btn:hover {
  background-color: var(--pale-purple);
  cursor: pointer;
}

.inner__link {
  margin: 0 auto;
}

.inner__link--a {
  text-decoration: underline;
}

.inner__link--a:hover {
  color: var(--pale-purple);
  text-decoration: none;
}

.inner__link--b {
  font-weight: 700;
  color: var(--neutral-desaturated-blue);
}

.inner__link--b:hover {
  color: var(--neutral-dark-blue);
}

.attribution {
  position: absolute;
  bottom: 20px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--pale-purple);
}

@media (min-width: 375px) {
  .card {
    width: 90vw;

    margin: 3em;
  }

  .card__inner {
    margin: 1em em;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 0.8em;
  }

  p {
    font-size: 0.8em;
  }
}
